{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "comma-dangle": [
      2,
      "never"
    ],
    "func-names": 2,
    "no-alert": 2,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-debugger": 2,
    "strict": 0,
    "import/no-extraneous-dependencies": 0,
    "linebreak-style": 0
  }
}
